name: Release Branch Merge Handler
on:
  push:
    branches:
jobs:
  build:
    name: Clean Up Release Branch
    runs-on: ubuntu-latest
    if: startsWith(github.event.ref, format('refs/heads/{0}', vars.RELEASE_BRANCH_PREFIX))
    steps:
      - name: Checkout
        uses: actions/checkout@v2.5.0
        with:
          fetch-depth: 0
          token: ${{ secrets.SCOPED_PAT }}
      - name: Check for Issue Branch Merged
        id: check_merge
        run: |
          ISSUE_FILES=$(git diff --name-only HEAD^ HEAD -- 'release-notes/${{ vars.ISSUE_BRANCH_PREFIX }}*.md')
          if [ -z "$ISSUE_FILES" ]
          then
            echo "IS_MERGE=false" >> $GITHUB_OUTPUT;
          else
            echo "IS_MERGE=true" >> $GITHUB_OUTPUT;
          fi
      - name: Export Branch
        if: steps.check_merge.outputs.IS_MERGE == 'true'
        id: export-branch
        run: |
          BRANCH=$(basename ${{ github.ref }})
          echo "BRANCH=$BRANCH" >> $GITHUB_OUTPUT;
      - name: Compile Release Notes
        if: steps.check_merge.outputs.IS_MERGE == 'true' && vars.GENERATE_RELEASE == 'true'
        run: |
          if [ls release-notes/${{ vars.ISSUE_BRANCH_PREFIX }}*.md 1> /dev/null 2>&1]
          then
              if [ ! -f $1 ]
              then
                  echo "### Includes the following items" > $1
                  echo >> $1
              fi
              for ISSUE_NOTES in `ls release-notes/${{ vars.ISSUE_BRANCH_PREFIX }}*.md`
              do
                  NOTES=`cat ${ISSUE_NOTES}`
                  if ! grep -q "${NOTES}" $1
                  then
                      echo "${NOTES}" >> $1
                  fi
              done
          fi
      - name: Delete Artifacts
        if: steps.check_merge.outputs.IS_MERGE == 'true'
        run: |
          if [${{ vars.GENERATE_RELEASE }} == 'true']; then rm release-notes/${{ vars.ISSUE_BRANCH_PREFIX }}*.md || true
          rm auth/sandbox-login-url-issue-* || true
      - uses: stefanzweifel/git-auto-commit-action@v4.15.4
        if: steps.check_merge.outputs.IS_MERGE == 'true'
        with:
          branch: ${{ github.ref }}
          commit_message: Add issue release notes and remove .enc file.
